/* Menú de navegación en formato horizontal */
.navbar {
    display: flex;
    flex-direction: row; /* Cambio a dirección horizontal */
    justify-content: space-between; /* Distribuir los elementos entre ellos */
    align-items: center; /* Alineación vertical centrada */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 2px solid #4CAF50; /* Borde verde en la parte inferior */
}

.navbar h1 {
    text-align: center;
    color: white;
    margin-bottom: 0; /* Eliminamos el margen inferior */
    font-size: 24px;
}

.nav-links {
    display: flex;
    flex-direction: row; /* Los enlaces estarán en fila en pantallas grandes */
    align-items: center;
    padding: 0;
    margin: 0;
}

.nav-links li {
    list-style-type: none;
    margin: 0 15px; /* Espaciado entre los elementos */
}

.nav-link {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0;
}

.nav-link:hover {
    background-color: #45a049; /* Fondo verde cuando el ratón pasa sobre el enlace */
}

.active {
    background-color: #3f7942;
}

/* Estilos para el icono de hamburguesa */
.hamburger {
    display: none; /* Ocultamos el icono en pantallas grandes */
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.hamburger .bar {
    width: 25px;
    height: 3px;
    background-color: white;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar h1 {
        font-size: 20px;
    }

    .nav-link {
        font-size: 16px;
    }

    /* Cambio de dirección de los enlaces en pantallas pequeñas */
    .nav-links {
        flex-direction: column;
        display: none; /* Ocultamos los enlaces en pantallas pequeñas */
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.8);
        width: 100%;
        height: 100vh;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        z-index: 99;
    }

    .nav-links.active {
        display: flex; /* Mostramos los enlaces cuando el menú está abierto */
        right: 60%;
        align-items: flex-end;
    }

    /* Mostramos el icono de hamburguesa */
    .hamburger {
        display: flex;
    }
}

@media (max-width: 480px) {
    .navbar h1 {
        font-size: 18px;
    }

    .nav-link {
        font-size: 14px;
    }
}
